/*  .cwhoissearch is the search and suggest part of the cart (normal cart mode) */

.cwhoissearch {
	position: static;
}
p.cwhoissearch {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #330099;
	font-weight: normal;
	position: static;
}
small.cwhoissearch {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #1f2732;
	font-weight: normal;
	position: static;
}
input.cwhoissearch {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	position: static;
    width: 70%;
    background-color: #f4f4f5;
    padding: 18px;
    border: 0;
}
select.cwhoissearch {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	position: static;
}
table.cwhoissearch {
    position: static;
    width:100%;
}
/*  .cwhoischeckbox is the domain extension checkbox part of the cart (normal cart mode) */

.cwhoischeckbox {
	position: static;
}
p.cwhoischeckbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	position: static;
}
input.cwhoischeckbox {
	position: static;
}
table.cwhoischeckbox {
    position: static;
}
/*  .cwhoisresults is the search results part of the cart (normal cart mode) */

.cwhoisresults {
	position: static;
  border-bottom: 1px solid #eee;
  padding: 5px;
}
.cwhoisresults p {
  border-bottom: 0px;
}
p.cwhoisresults {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	position: static;
}
b.cwhoisresults {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: bold;
	position: static;
}
input.cwhoisresults {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	position: static;
}
select.cwhoisresults {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	font-weight: normal;
	position: static;
  border: 0;
  background-color:#f4f4f5;
}
a.cwhoisresults {
  position: static;
}  
table.cwhoisresults {
    position: static;
} 


/*  .cwhoisshop is the current cart contents part (normal cart mode) */

.cwhoisshop {
	position: static;
  padding-top: 4px;
padding-right: 20px;
}
.cwhoisshop td {
border-bottom: 1px solid #eee;
}
p.cwhoisshop {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	position: static;
  border: 0px;
}
b.cwhoisshop {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: bold;
	position: static;
  border: 0;
}
big.cwhoisshop {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #330099;
	font-weight: normal;
	position: static;
  border: 0;
}
input.cwhoisshop {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	position: static;
}
hr.cwhoisshop {
    position: static;	
}
table.cwhoisshop {
    position: static;
}
/*  .cwhoisverify is the cart summary at the top of the contact form */

.cwhoisverify {
	position: static;
    padding:6px;
}
.cwhoisverify tr {
  border-bottom:1px solid #eee;
}
p.cwhoisverify {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	position: static;
}
b.cwhoisverify {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: bold;
	position: static;
}
big.cwhoisverify {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #330099;
	font-weight: normal;
	position: static;
}
strong.cwhoisverify {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #FF0000;
	font-weight: normal;
	position: static;
}
input.cwhoisverify {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	position: static;
}
hr.cwhoisverify {
    position: static;
}
table.cwhoisverify {
    position: static;
}

/*  .cwhoiscontact is the contact form */

.cwhoiscontact {
	position: static;
}
p.cwhoiscontact {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	position: static;
}
b.cwhoiscontact {
  position: static;
}
big.cwhoiscontact {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #330099;
	font-weight: normal;
	position: static;
}
input.cwhoiscontact {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	position: static;
  padding: 6px;
border: 0;
background-color:#eee;
}
select.cwhoiscontact {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	position: static;
}
textarea.cwhoiscontact {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	position: static;
}
a.cwhoiscontact {
    position: static;
}
table.cwhoiscontact {
    position: static;
}

/*  .cwhoislookup is the whois lookup  */

.cwhoislookup {
	position: static;
}
p.cwhoislookup {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	position: static;
}
a.cwhoislookup {
    position: static;
}
input.lookup {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	position: static;
}

/* Simple hosting mode step 1*/

.cwhoissimplestep1 {
	position: static;
}
p.cwhoissimplestep1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000000;
	font-weight: normal;
	position: static;
}
input.cwhoissimplestep1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	position: static;
}
select.cwhoissimplestep1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	position: static;
}
table.cwhoissimplestep1 {
    position: static;
}

/* Simple hosting mode step 2 (registering domain)*/

.cwhoissimplestep2 {
	position: static;
}
p.cwhoissimplestep2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000000;
	font-weight: normal;
	position: static;
}
a.cwhoissimplestep2 {
	position: static;
}
input.cwhoissimplestep2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	position: static;
}
select.cwhoissimplestep2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	position: static;
}
table.cwhoissimplestep2 {
    position: static;
}

/* Simple hosting mode step 2b (existing domain)*/

.cwhoissimplestep2b {
	position: static;
}
p.cwhoissimplestep2b {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000000;
	font-weight: normal;
	position: static;
}
input.cwhoissimplestep2b {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #000000;
	font-weight: normal;
	position: static;
}
table.cwhoissimplestep2b {
	position: static;
}
[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled).cwhoissearch {
    cursor: pointer;
    width: 20%;
    background-color:#f1894c;
    padding: 18px;
}
[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled).cwhoisresults {
    padding: 18px;
    border: 0;
}
.top-footer{
  background-color:#040964;
  color:#fff;
  bottom: 0;
  width:100%;
  height: 30%;
   border-radius:20% 20% 0 0;
}
button .btn btn-outline-success my-2 my-sm-0{
  padding:2px;
}
.copyrights{
  background-color:#f79403;
  height:38px;
  text-align:center;
  font-size:11px;
  color:#333;
  padding:30px;
}
.form-control{
  margin-right: 7px !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-size:10px !important;
}
.social_media{
  margin:0 auto;
  text-align:center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-skype {
  background: #00aff0;
  color: white;
}
.fa-foursquare {
  background: #45bbff;
  color: white;
}
.fa-rss {
  background: #ff6600;
  color: white;
}